header {background:crimson; color:#fff}
header h1 a {color:#eee !important}
body {background:#f6f6f6; color:#555}
#content ul li .entry h2 a {color:#444}
#content article .left time, #content ul li .left time {color:#fff; background:crimson}
#content ul li .left span {background:firebrick}

@media screen and (max-width:340px) {
#content article .left time b, #content ul li .left time b {background:crimson}
#content article .left time, #content ul li .left time {color:#444; background:transparent}
#content ul li .left span {background:transparent}
}